
Manuscript/main.aux

Manuscript/main.bbl

Manuscript/main.bcf

Manuscript/main.blg

Manuscript/main.idx

Manuscript/main.ilg

Manuscript/main.ind

Manuscript/main.lof

Manuscript/main.log

Manuscript/main.lot

Manuscript/main.mw

Manuscript/main.pdf

Manuscript/main.run.xml

Manuscript/main.synctex.gz

Manuscript/main.toc

*.aux

Manuscript/main.diagnose

Manuscript/main.kaux
